[submodule "game_data/2009scape"]
	path = game_data/2009scape
	url = https://gitlab.com/arsalan-anwari/2009-scape-wiki-server.git
	branch = master
[submodule "game_data/2009scape-item-definition-editor"]
	path = game_data/2009scape-item-definition-editor
	url = https://gitlab.com/arsalan-anwari/2009-scape-wiki-2009-scape-item-definition-editor.git
	branch = master
[submodule "game_data/rs09-constants-library"]
	path = game_data/rs09-constants-library
	url = https://gitlab.com/arsalan-anwari/2009-scape-wiki-rs-09-constants-library.git
	branch = main
[submodule "game_data/rs09-thanos-tool"]
	path = game_data/rs09-thanos-tool
	url = https://gitlab.com/arsalan-anwari/2009-scape-wiki-zaros.git
	branch = master
